.main{
    
}
table {
    border-collapse: collapse;
    padding: 5px;
    box-shadow: 0 0 10px #8d8d8d;
}
thead{
    color:red;
     background-color:white;
      font-weight: bold;
       padding-bottom:5px;
       border-bottom: 2px solid rgb(184, 184, 184);
}
td {
    background-color:white;
     padding-bottom:15px;
      font-size:18px;
      padding-left: 12px;
}
.viewDetails{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  background-color: rgb(76,175,80);
}
a:visited {
color: black;
}
a {
    text-decoration: none;
    color:black; 
    }
.div-total{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top:10px;
    justify-content: start;
    grid-column-gap: 20px;
}
.total{
    padding-left:20px;
    padding-top:30px;
    width:300px;
    height:100px;
    font-size: 20px;
    font-weight:bold;
    background-color:black;
    color: white;
    box-shadow: 0 0 10px #8d8d8d;
}
span.num{
    background-color:unset;
    color: white;
}
#title{
    background-color:white;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px #8d8d8d;
}